* {
  color: white;
}

body {
  background-color: rgb(72 , 79 , 88);
}

#texto-tarefa {
  color: black;
}

.btns {
  background-color: rgb(72 , 79 , 88);
  width: 8em;
  padding: 0.5em;
}

.tasks {
  background-color: gray;
}

.completed {
  text-decoration: line-through solid black;
}
