* {
  margin: 0;
  padding: 0;
  color: white;
}

body {
  background-color: rgb(72 , 79 , 88);
}

.input-task {
  color: black;
}

.btn-create {
  background-color: rgb(72 , 79 , 88);
  width: 8em;
  padding: 0.5em;
}
