* {
  color: white;
}

body {
  background-color: rgb(72 , 79 , 88);
}

#texto-tarefa {
  color: black;
}

#criar-tarefa {
  background-color: rgb(72 , 79 , 88);
  width: 8em;
  padding: 0.5em;
}

.tasks {
  background-color: gray;
}
